:root[data-theme='dark'] {
  --color-primary-primary: #779cfe;
  --color-text-primary: #ffffff;
  --color-onsurface-primary: #ffffff;
  --color-primary-80: rgba(119, 156, 254, 0.8);
  --color-text-80: rgba(255, 255, 255, 0.8);
  --color-onsurface-80: rgba(255, 255, 255, 0.8);
  --color-primary-60: rgba(119, 156, 254, 0.6);
  --color-text-60: rgba(255, 255, 255, 0.6);
  --color-onsurface-60: rgba(255, 255, 255, 0.6);
  --color-primary-40: rgba(119, 156, 254, 0.4);
  --color-text-40: rgba(255, 255, 255, 0.4);
  --color-onsurface-40: rgba(255, 255, 255, 0.4);
  --color-primary-20: rgba(119, 156, 254, 0.2);
  --color-text-20: rgba(255, 255, 255, 0.2);
  --color-onsurface-20: rgba(255, 255, 255, 0.2);
  --color-primary-10: rgba(119, 156, 254, 0.1);
  --color-text-10: rgba(255, 255, 255, 0.1);
  --color-onsurface-10: rgba(255, 255, 255, 0.1);
  --color-primary-5: rgba(119, 156, 254, 0.05);
  --color-onsurface-5: rgba(255, 255, 255, 0.05);
  --color-background-global: #1c1c1e;
  --color-background-header: #212122;
  --color-background-cards: #242427;
  --color-icons-primary: #ffffff;
  --color-icons-oncolours: #000000;
  --color-icons-20: rgba(255, 255, 255, 0.2);
  --color-icons-40: rgba(255, 255, 255, 0.4);
  --color-onprimary-primary: #000000;
  --color-surface-primary: #ffffff;
  --color-surface-80: rgba(255, 255, 255, 0.8);
  --color-surface-60: rgba(255, 255, 255, 0.6);
  --color-surface-40: rgba(255, 255, 255, 0.4);
  --color-surface-20: rgba(255, 255, 255, 0.2);
  --color-surface-10: rgba(255, 255, 255, 0.1);
  --color-surface-5: rgba(255, 255, 255, 0.05);
  --color-text-5: rgba(255, 255, 255, 0.05);
  --color-functional-error: #ff7979;
}
