{
	"presets": ["next/babel", "@zeit/next-typescript/babel"],
	"plugins": [
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		"emotion"
	],
	"env": {
		"test": {
			"presets": [
				["next/babel", { "preset-env": { "modules": "commonjs" } }],
				"@zeit/next-typescript/babel"
			]
		}
	}
}
