import { TGraphqlAction } from 'src/lib/services/graphqlAPI'

import {
  __imports__
} from '../original/types'
import {
  __customImports__
 } from '../types'

export type TMutations = {__mutations_actions__}

export type TQueries = {__queries_actions__}
