import { TGraphqlAction } from '@bi-client/container/src/lib/services/graphqlAPI/types'

import {
  __imports__
} from '@bi-client/container/src/lib/gql/generated/typesOriginal'
import {
  __customImports__
 } from '../types'

export type TMutations = {__mutations_actions__}

export type TQueries = {__queries_actions__}
