import {
  __imports__
} from '../original/types'
import { 
  __fillImports__ 
} from '../defaults'
import { TMutations, TQueries } from '../graphqlTypes'
import { TGraphqlConfig } from 'src/lib/services/graphqlAPI'

const mutations: {
  [key in keyof TMutations]: TGraphqlConfig
} = {__mutations_actions__}

const queries: {
  [key in keyof TQueries]: TGraphqlConfig
} = {__queries_actions__}

export { mutations, queries }
