import {
  __imports__
} from 'lib/gql/generated/types'
import { TGraphqlAction } from 'lib/services/graphqlAPI'

export type TMutations = {__mutations_actions__}

export type TQueries = {__queries_actions__}
