import { App } from '@bi-client/container/src/types/app'

import {
  __imports__
} from '@bi-client/container/src/lib/gql/generated/typesOriginal'
import { 
  __fillImports__ 
} from '../defaults'
import { TMutations, TQueries } from '../graphqlTypes'

const mutations: {
  [key in keyof TMutations]: App.TGraphqlConfig
} = {__mutations_actions__}

const queries: {
  [key in keyof TQueries]: App.TGraphqlConfig
} = {__queries_actions__}

export { mutations, queries }
